:root {
  --red:#c1392b;
  --blue:#2d3e4f;
  --yellow:#edaf1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--blue);
}
.btn, .btn-off {
  background:var(--red);
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 5px;
  margin: 20px auto;
  display: block;
}
.btn-off {
  background: var(--yellow);
  padding: 10px;
}