* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blue: #428bca;
  --grey: #ededed;
  --header-text: #bfbfbf;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 2;
}
.container {
  max-width: 80%;
  margin: 0 auto;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.navigation {
  display: flex;
}
.logo {
  font-weight: 400;
  font-size: 2rem;
}
.navigation li a {
  font-size: 1.1rem;
  margin-right: 20px;
  font-weight: 200;
  color: var(--blue);
}
.navigation a.active {
  background: var(--blue);
  color: #fff;
  padding: 10px;
  border-radius: 8px;
}
.border {
  border: 1px solid #d4d3d3;
  padding: 20px;
  margin-bottom: 40px;
}

.showcase {
  background: var(--grey);
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.showcase h1 {
  color: var(--header-text);
}
.cards {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  width: 100%;
  gap: 20px;
}
.cards .card {
  display: flex;
  flex-direction: column;
  width: 33.33%;
}
