* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li{
 cursor: pointer;
 position: relative;
 padding: 12px 8px 12px 40px;
 list-style: none;
 background: #eee;
 font-size: 18px;
 transition: 0.2s ease;
}

ul li:hover {
  background: #ddd;
}

.header {
  background: pink;
  padding: 20px 30px;
  color: rgb(194, 72, 113);
  text-align: center;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  width: 70%;
  padding: 10px;
  font-size: 16px;
}

.btn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}