<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css"
      integrity="sha512-EaaldggZt4DPKMYBa143vxXQqLq5LE29DG/0OoVenoyxDrAScYrcYcHIuxYO9YNTIQMgD8c8gIUU8FQw7WpXSQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./style.css" />
    <title>Position</title>
  </head>
  <body>
    <div class="container" id="top">
      <h1>Position</h1>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque,
          numquam incidunt hic error ex ipsam similique eius ipsa autem nulla.
        </p>
        <img class="pos-relative" src="./img/Cat.jpg" alt="Cat" />
        <img class="pos-apsolute" src="./img/tree.jpg" alt="Tree" />
        <img class="bottom" src="./img/shark.jpg" alt="Shark" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque,
          numquam incidunt hic error ex ipsam similique eius ipsa autem nulla.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque,
          numquam incidunt hic error ex ipsam similique eius ipsa autem
          nulla.Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque,
          numquam incidunt hic error ex ipsam similique eius ipsa autem nulla.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque,
          numquam incidunt hic error ex ipsam similique eius ipsa autem
          nulla.Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque,
          numquam incidunt hic error ex ipsam similique eius ipsa autem nulla.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque,
          numquam incidunt hic error ex ipsam similique eius ipsa autem
          nulla.Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque,
          numquam incidunt hic error ex ipsam similique eius ipsa autem nulla.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque,
          numquam incidunt hic error ex ipsam similique eius ipsa autem
          nulla.Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque,
          numquam incidunt hic error ex ipsam similique eius ipsa autem nulla.
        </p>
        <a class="move-top" href="#top"
          ><i class="fa fa-arrow-circle-up"></i
        ></a>
      </div>
    </div>
  </body>
</html>
