<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css"
      integrity="sha512-EaaldggZt4DPKMYBa143vxXQqLq5LE29DG/0OoVenoyxDrAScYrcYcHIuxYO9YNTIQMgD8c8gIUU8FQw7WpXSQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./style.css" />
    <title>Position</title>
  </head>
  <body>
    <header>
      <div class="container">
        <ul class="nav">
          <ul>
            <li><a href="#advanced">Advanced Positioning</a></li>
            <li><a href="#z">Z - index</a></li>
            <li><a href="#page">Recreate layout</a></li>
          </ul>
        </ul>
      </div>
    </header>
    <div class="container" id="top">
      <!-- positioning exercise -->
      <section class="content">
        <h2>Position</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque,
          numquam incidunt hic error ex ipsam similique eius ipsa autem nulla.
        </p>
        <img class="pos-relative" src="./img/Cat.jpg" alt="Cat" />
        <img class="pos-apsolute" src="./img/tree.jpg" alt="Tree" />

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque,
          numquam incidunt hic error ex ipsam similique eius ipsa autem nulla.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque,
          numquam incidunt hic error ex ipsam similique eius ipsa autem
          nulla.Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque,
          numquam incidunt hic error ex ipsam similique eius ipsa autem nulla.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque,
          numquam incidunt hic error ex ipsam similique eius ipsa autem
          nulla.Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque,
          numquam incidunt hic error ex ipsam similique eius ipsa autem nulla.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque,
          numquam incidunt hic error ex ipsam similique eius ipsa autem
          nulla.Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque,
          numquam incidunt hic error ex ipsam similique eius ipsa autem nulla.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque,
          numquam incidunt hic error ex ipsam similique eius ipsa autem
          nulla.Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque,
          numquam incidunt hic error ex ipsam similique eius ipsa autem nulla.
        </p>
        <img class="bottom" src="./img/shark.jpg" alt="Shark" />
        <a class="move-top" href="#top"
          ><i class="fa fa-arrow-circle-up"></i
        ></a>
      </section>
      <!-- advanced positioning Homework -->
      <section class="positioning" id="advanced">
        <h2>Advanced positioning (Homework)</h2>
        <div class="nav">
          <ul>
            <li>Home</li>
            <li>Menu 1</li>
            <li>Menu 2</li>
            <li>Menu 3</li>
          </ul>
        </div>
        <div class="sub-menu">
          <ul>
            <li>Sub Menu 1</li>
            <li>Sub Menu 2</li>
            <li>Sub Menu 3</li>
          </ul>
        </div>
      </section>
      <!-- z index exercise -->
      <section class="z-index" id="z">
        <h2>Z - index</h2>
        <div class="d-flex">
          <div class="boxes-1">
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
          </div>
          <div class="boxes-2">
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
          </div>
          <div class="boxes-3">
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
          </div>
        </div>
      </section>
      <!-- float exercise -->
      <section class="navigation">
        <h2>Float</h2>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </section>
      <!-- recreate page -->
      <section class="nav-bar" id="page">
        <h2>Recreate layout</h2>
        <div class="nav">
          <ul>
            <li class="nav-link"><a class="nav-item" href="#">Home</a></li>
            <li class="nav-link"><a class="nav-item" href="#">About</a></li>
            <li class="nav-link"><a class="nav-item" href="#">Contact</a></li>
            <li class="nav-link"><a class="nav-item" href="#">Blog</a></li>
            <li class="nav-link"><a class="nav-item" href="#"></a></li>
          </ul>
        </div>
      </section>
      <!-- main -->
      <section class="main"></section>
      <!-- cards and sidebar -->
      <section class="cards">
        <aricle class="card">
          <div class="card-box red">
            <span>300 x 200</span>
          </div>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum
            molestiae eligendi quibusdam. Dolores perspiciatis accusamus
            laudantium, officiis harum quas, sapiente veniam voluptates
            assumenda sit tempora, esse autem alias facilis iusto.
          </p>
        </aricle>
        <aricle class="card">
          <div class="card-box blue">
            <span>300 x 200</span>
          </div>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum
            molestiae eligendi quibusdam. Dolores perspiciatis accusamus
            laudantium, officiis harum quas, sapiente veniam voluptates
            assumenda sit tempora, esse autem alias facilis iusto.
          </p>
        </aricle>
        <aricle class="card">
   
        </aricle>
        <aricle class="sidebar">
          <ul>
            <li>
              <a
                href="https://slack.engineering/rebuilding-slack-com/"
                target="_blank"
                >Rebuilding slack.com</a
              >
            </li>
            <li>
              <a
                href="https://www.bgit.rs/blog/zasto-bootcamp-format/"
                target="_blank"
                >Zašto bootcamp format?</a
              >
            </li>
            <li>
              <a
                href="https://www.bgit.rs/blog/react-prozor-u-svet-web-aplikacija/"
                target="_blank"
                >React - prozor u svet web aplikacija</a
              >
            </li>
            <li>
              <a
                href="https://www.netokracija.rs/najvece-zablude-o-programerima-134757"
                >Najveće zablude o programerima Srbije</a
              >
            </li>
          </ul>
        </aricle>
        <aricle class="card">
          <div class="card-box yellow">
            <span>300 x 200</span>
          </div>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum
            molestiae eligendi quibusdam. Dolores perspiciatis accusamus
            laudantium, officiis harum quas, sapiente veniam voluptates
            assumenda sit tempora, esse autem alias facilis iusto.
          </p>
        </aricle>
        <aricle class="card">
          <div class="card-box green">
            <span>300 x 200</span>
          </div>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum
            molestiae eligendi quibusdam. Dolores perspiciatis accusamus
            laudantium, officiis harum quas, sapiente veniam voluptates
            assumenda sit tempora, esse autem alias facilis iusto.
          </p>
        </aricle>
        <aricle class="card">
          <div class="card-box red">
            <span>300 x 200</span>
          </div>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum
            molestiae eligendi quibusdam. Dolores perspiciatis accusamus
            laudantium, officiis harum quas, sapiente veniam voluptates
            assumenda sit tempora, esse autem alias facilis iusto.
          </p>
        </aricle>
        <aricle class="card">
          <div class="card-box blue">
            <span>300 x 200</span>
          </div>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum
            molestiae eligendi quibusdam. Dolores perspiciatis accusamus
            laudantium, officiis harum quas, sapiente veniam voluptates
            assumenda sit tempora, esse autem alias facilis iusto.
          </p>
        </aricle>
        <aricle class="card">
          <div class="card-box yellow">
            <span>300 x 200</span>
          </div>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum
            molestiae eligendi quibusdam. Dolores perspiciatis accusamus
            laudantium, officiis harum quas, sapiente veniam voluptates
            assumenda sit tempora, esse autem alias facilis iusto.
          </p>
        </aricle>
        <aricle class="card">
          <div class="card-box green">
            <span>300 x 200</span>
          </div>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum
            molestiae eligendi quibusdam. Dolores perspiciatis accusamus
            laudantium, officiis harum quas, sapiente veniam voluptates
            assumenda sit tempora, esse autem alias facilis iusto.
          </p>
        </aricle>
      </section>

    </div>
    <footer>
      <div class="container">
        <p>&copy; BitStudent</p>
      </div> </footer>
  </body>
</html>
