@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --menu: #c8352f;
  --yellow: #ffbc40;
  --text-color: #3c5566;
  --background: #262626;
}
body {
  font-family: 'Ubuntu', sans-serif;
  background: var(--background);
  font-size: 16px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  background: #fff;
  width: 1000px;
  height: 100vh;
  margin: 0 auto;
  padding: 5rem 10rem;
}
#table {
  border-collapse: collapse;
  max-width: 968px;
  width: 100%;
}
#table th {
  background-color: var(--menu);
  color: white;
  padding: 10px;
}
#table img {
  height: 100px;
}
#table td {
  padding: 10px 25px;
  color: var(--text-color);
  font-weight: 500;
}
#table tr:nth-child(odd) {
  background-color: #f2f2f2;
}
#table tr:nth-child(4):hover {
  background-color: var(--yellow);
}
