body {
  padding-top: 50px;
}

.alert {
  display: none;
}

.header {
  margin-bottom: 100px;
}

.card { 
  width: 18 rem;
}
.card-body {
  padding: 0;
  margin: 20px 0;
}

.logo {
  font-weight: 500;
  color: grey;
}